@media (max-width: 1400px) {}

@media (max-width:1024px){
    .welcome-message{
        max-width: 1024px;
    }
}

@media (max-width: 1120px) {
    .hero_area {
        height: auto;
    }

    .slider_section {
        padding-bottom: 90px;
    }

    .client_section .carousel-control-prev {
        left: 15%;
    }

    .client_section .carousel-control-next {
        right: 15%;
    }
}

@media (max-width: 992px) and (orientation : landscape){
    .readmore{
        background-size: 950px 1000px;
        background-position: center center ;
      }

      .welcome-message img{
        width: 300px;
      }

      .welcome-message h1{
        font-size: 30px;
      }

      .slider_section .carousel-control-prev,
      .slider_section .carousel-control-next {
          display: none;
      }

      .slider_section .img-box img {
        width: 90%;
      }

      .slider_section .detail-box h2 {
        text-transform: uppercase;
        margin-top: 5px;
        
      }
      
      .slider_section .detail-box h1 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffd291;
        text-transform: uppercase;
      }
      
      .slider_section .detail-box p {
        padding-bottom: 50px;
        font-size: 20px;
      }
}

@media (max-width: 992px) {
    .info_section .row>div {
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {


    .slider_section .detail-box {
        text-align: center;
    }

    .slider_section .carousel-control-prev {
        top: 37%;
        left: calc(50% - 50px);
        transform: none;
    }

    .slider_section .carousel-control-next {
        top: 37%;
        right: calc(50% - 50px);
        transform: none;
    }

    .slider_section .detail-box {
        margin-bottom: 75px;
    }

    .client_section .carousel-control-prev {
        left: 0;
    }

    .client_section .carousel-control-next {
        right: 0;
    }

    .info_section .row>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .info_section .info_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {


    .slider_section .carousel-control-prev,
    .slider_section .carousel-control-next {
        display: none;
    }

    .slider_section .detail-box,
    .slider_section .img-box {
        margin-bottom: 45px;
    }

}

@media (max-width: 480px) {

    .client_section .carousel-control-prev,
    .client_section .carousel-control-next {
        display: none;
    }


    .i{
        width: 350px;
    }

    .slider_section .detail-box h2 {
        text-transform: uppercase;
        margin-top: 30px;
        font-family:  Arial, sans-serif;

      }

      .slider_section .detail-box p{
        font-size: 20px;
      }

      .welcome-background{
        width: 100vw;
        height: 100vh;
      }

      .welcome-message img{
        width: 360px;
      }

      .greeting{
        font-size: 50px;
        font-weight: lighter;
        font-style: italic;
      }

      .welcome-message h1{
        font-size: 25px;
      }

      .hero_area{
        padding-bottom: 50px;
      }

      .readmore h1{
        font-size: 30px;
      }

      .readmore{
        background-size: 650px 700px;
        background-position: center center ;
      }

      .faq-h1{
        padding-bottom: 15px;
      }

}

@media (max-width: 400px) {}

@media (max-width: 360px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

}